<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <!--Our CSS-->
    <link rel="stylesheet" href="static/style.css" />
    <!--LeafletJS files-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
</head>

<header class="nav-bar">
  <div class="nav-content">
      <a href="/">
          <div class="nav-logo">
              <img src="./static/img/logo.svg" />
          </div>
      </a>
      <ul class="nav-menu">
        <li><a href="/timeline">My Timeline</a></li>
      </ul>
  </div>
</header>

<form action="/api/timeline_post" method="post">
  <h1>Create a Timeline Post</h1>
  Name <input type="text" name="name" /><br />
  Email <input type="text" name="email" /><br />
  Content <input type="text" name="content" /><br />
  <input type="submit" value="Submit">
</form>

<h1>Displaying Timeline Posts</h1>
{% for post in timeline_post['timeline_post'] %}
  <h3>{{ post['name'] }}</h3>
  <p>Email: {{ post['email'] }}</p>
  <p>Content: {{ post['content'] }}</p>
{% endfor %}
